<section class="row justify-content-center app-list-page">
  <div class="col-md-11 col-xl-8">
    <h2>
      Listagem de Parceiros
      <mat-icon>groups</mat-icon>
    </h2>

    <div class="row g-1 mt-3">
      <a mat-flat-button class="col-md-6 col-xl-2 app-accent-button" routerLink="cadastrar">
        <mat-icon>add</mat-icon>
        Cadastrar
      </a>
    </div>

    <hr />

    <div class="row g-3">
      @for (partner of partners$ | async; track $index) {
        <div class="col-md-6 col-xl-4">
          <mat-card class="mb-2 app-list-card">
            <mat-card-header>
              <mat-card-title [matTooltip]="partner.name">
                <strong>Nome:</strong>
                {{ partner.name.length > 18 ? (partner.name | slice: 0 : 18) + '…' : partner.name }}
              </mat-card-title>
            </mat-card-header>

            <mat-card-actions align="end">
              <a [routerLink]="['editar', partner.id]" mat-icon-button class="app-accent-button">
                <mat-icon>edit</mat-icon>
              </a>

              <a [routerLink]="['excluir', partner.id]" mat-icon-button class="app-accent-button">
                <mat-icon>delete</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      } @empty {
        <div class="col-12 text-center text-muted py-5">Nenhum parceiro cadastrado ainda.</div>
      }
    </div>
  </div>
</section>
